* {
  margin: 0;
  padding: 0;
  border: 0;
}

html {
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  width: 10px;
  background-color: #1f1714;
}

::-webkit-scrollbar-thumb {
  background-image: linear-gradient(to bottom, #b09f69, #615145);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background-image: linear-gradient(to bottom, #c1b58a, #776455);
  border-radius: 10px;
}

/* 

-----------

Fonts

-----------

*/

@font-face {
  font-family: myFont;
  src: url('../Fonts/pinkSub.otf');
}

@font-face {
  font-family: regularFont;
  src: url('../Fonts/pinkSub.otf');
}

@font-face {
  font-family: titleFont;
  src: url('../Fonts/pinkbold.otf');
}

@font-face {
  font-family: javaFont;
  src: url('../Fonts/javaScript.otf');
}

.other-font {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}



/* 

-----------

Animations

-----------

*/

@keyframes float {
  0% {
    transform: translatey(0px);
  }
  50% {
    transform: translatey(-30px);
  }
  100% {
    transform: translatey(0px);
  }
}

@keyframes wid {
  0% {
    transform: scalex(0px);
  }
  50% {
    transform: scalex(0.95);
  }
  100% {
    transform: scalex(0px);
  }

}



/* 

-----------

Transitions 

-----------

*/
.brick-transition {
  width: 100%;
  height: 71px;
  background-image: url('../Media/brown\ brick.jpg');
  background-size: 250px;
}

.about-skills {
  width: 100%;
  height: 100px;
  background-image: linear-gradient(to bottom, #917c67,#615145);
}

.skills-projects {
  width: 100%;
  height: 100px;
  background-image: linear-gradient(180deg, #615145, #3e2d28);
}
