.home {
  width: 100%;
  height: 100vh;
  background-image: radial-gradient(#583b28 30%,  #352318 50%, #120c08);
  
}

.title-div {
  margin-left: 15vw;
  margin-top: 15vh;
  position: absolute
}

.Title {
  font-family: titleFont;
  font-size: 200px;
  color: white;
  -webkit-filter: drop-shadow(0px 0px 20px rgba(0 0 0 / 90%)); 
  filter: drop-shadow(0px 10px 10px rgba(0 0 0 / 90%));
}

.subtitle-div {
  margin-left: 5%;
  top: 80%;
  position: absolute
}

.subTitle {
  
  font-family: myFont;
  font-size: 60px;
  color: white;
  -webkit-filter: drop-shadow(0px 0px 20px rgba(0 0 0 / 90%)); 
  filter: drop-shadow(0px 10px 10px rgba(0 0 0 / 90%));
}

.white-line {
  height: 4px;
  background-color: white;
}

.seta {
  margin-left: 10px;
  width:45px;
}

.home-btn-div {
  margin-top: 90vh;
  width: 100%;
  position: absolute;
  display: flex;
  justify-content: center;
  transform: translatey(0px);
  animation: float 3s ease-in-out infinite;
}

.home-btn-about {
  text-decoration: none;
  border: none;
  color: white;
  background-color: transparent;
  font-family: myFont;
  font-size: 45px;
  -webkit-filter: drop-shadow(0px 0px 20px rgba(0 0 0 / 90%)); 
  filter: drop-shadow(0px 0px 4px rgba(0 0 0 / 90%));
  transition: transform 150ms ease-in-out;
}

.home-btn-about:hover {
  transform: scale(1.05);
}

.social-div {
  z-index: 25;
  position: absolute;
  margin-left: 50px;
  margin-top: 20px;
}

.github-img {
  width: 60px;
  
}

.github-btn {
  cursor: pointer;
  background-color: transparent;
  transition: transform 150ms ease-in-out;
}

.github-btn:hover {
  transform: scale(1.1);
}

.linkedin-img {
  width: 60px;
  
}

.linkedin-btn {
  cursor: pointer;
  z-index: 25;
  background-color: transparent;
  transition: transform 150ms ease-in-out;
}

.linkedin-btn:hover {
  transform: scale(1.1);
}

.language-btn {
  margin-left: 5px;
  width: 75.5px;
  cursor: pointer;
  height: 52.1px;
  background-color: transparent;
  border-radius: 20px;
  border: solid 3px transparent;
  transition: transform 150ms ease-in-out, border 300ms ease-in-out, filter 200ms ease-in-out;
}

.language-btn:disabled {
  cursor: auto;
  opacity: 30%;
  -webkit-filter: drop-shadow(0px 0px 20px black); 
  filter: drop-shadow(0px 0px 10px black);
}

.language-btn:not([disabled]):hover {
  transform: scale(1.1);
  border-color: #b09f69;
  -webkit-filter: drop-shadow(0px 0px 20px #b09f69); 
  filter: drop-shadow(0px 0px 10px #b09f69);
}

.language-btn-eua {
  cursor: pointer;
  width: 75.5px;
  height: 52.1px;
  background-color: transparent;
  border-radius: 20px;
  border: solid 3px transparent;
  transition: transform 150ms ease-in-out, border 150ms ease-in-out, filter 200ms ease-in-out;
}

.language-btn-eua:disabled {
  cursor: auto;
  opacity: 30%;
  -webkit-filter: drop-shadow(0px 0px 20px black); 
  filter: drop-shadow(0px 0px 10px black);
}

.language-btn-eua:not([disabled]):hover {
  transform: scale(1.1);
  border-color: #b09f69;
  -webkit-filter: drop-shadow(0px 0px 20px #b09f69); 
  filter: drop-shadow(0px 0px 10px #b09f69);
}

.brasil-img {
  width: 70px;
  height: 46.6px;
  border-radius: 20px;
}

.eua-img {
  width: 70px;
  height: 46.6px;
  border-radius: 20px;
}

.language-div {
  z-index: 25;
  position: absolute;
  margin-top: 25px;
  margin-left: 23vw;
}

.line-bege {
  margin-top: 5px;
  width: 76px;
  height: 5px;
  border-radius: 50px;
  background-color: #a79558;
  transition: 0.5s ease-in-out;
}

.language-btn:disabled + .line-bege {
  margin-left: 80px;
}


@media (max-width: 1600px) {
  .Title {
    font-size: 150px;
  } 
  .title-div {
    margin-top: 20vh;
  } 
  .subTitle {
    font-size: 50px;
  }
  .home-btn-about {
    font-size: 35px;
  }
}

@media (max-width: 1200px) {
  .Title {
    font-size: 120px;
  }
  .title-div {
    margin-top: 25vh;
    position: absolute
  }
  
  .subTitle {
    font-size: 40px;
  }

  .home-btn-about {
    font-size: 30px;
  }

  .seta {
    margin-left: 10px;
    width: 35px;
  }
}

@media (max-width: 1000px) {
  .Title {
    font-size: 80px;
  }
  .title-div {
    margin-top: 30vh;
    position: absolute
  }
  
  .subTitle {
    font-size: 30px;
  }

  .white-line {
    height: 2px;
    background-color: white;
  }
  .social-div {
    margin-left: 30px;
    margin-top: 120px;
    z-index: 15;
  }
  .language-div {
    z-index: 30;
    margin-top: 120px;
    right: 20px;
    z-index: 15;
  }
}

@media (max-width: 680px) {
  .home {
    background-image: linear-gradient(to top right, #583b28, #120c08);
  }
  .Title {
    font-size: 70px;
  }
  .title-div {
    margin-top: 31vh;
    margin-left: 8vw;
    position: absolute
  }
  .home-btn-about {
    font-size: 25px;
  }
  .seta {
    margin-left: 10px;
    width:25px;
  }
  .linkedin-img {
    width: 40px;
  }
  .github-img {
    width: 40px;
  }
  .social-div {
    margin-left: 0px;
    width: 26%;
    margin-top: 68vh;
    background-color: #24292e;
    border-radius: 20px;
    height: 44px;
    right: 37%;
    display: flex;
    justify-content: center;
    align-items: center;
    -webkit-filter: drop-shadow(0px 0px 20px black); 
    filter: drop-shadow(0px 0px 10px black);
  }
  .language-div {
    margin-top: 58vh;
    right: 37%;
    height: 44px;
    padding-bottom: 5px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 26%;
    background-color: #b09f69;  
    -webkit-filter: drop-shadow(0px 0px 20px black); 
    filter: drop-shadow(0px 0px 10px black);

  }
  .brasil-img {
    width: 35px;
    height: 23.3px;
    border-radius: 20px;
  }

  .eua-img {
    width: 35px;
    height: 23.3px;
    border-radius: 20px;
  }
  .language-btn-eua {
    width: 38.5px;
    height: 25.5px;
    border: solid 1px transparent;
  }
  .language-btn {
    width: 38.5px;
    height: 25.5px;
    border: solid 1px transparent;
  }
  .language-btn:enabled + .line-bege {
    margin-right: 45px;
  }
  .line-bege {
    position: absolute;
    width: 35px;
    height: 3px;
    margin-top: 35px;
    background-color: wheat;
  }
  .language-btn:disabled + .line-bege {
    margin-left: 43px;
  }
}

@media (max-width: 560px) {
  .Title {
    font-size: 60px;
  }
  .title-div {
    margin-top: 31vh;
    margin-left: 5vw;
    position: absolute
  }
  .subTitle {
    font-size: 25px;
  }

}

@media (max-width: 450px) {
  .language-div {
    right: 32.5%;
    width: 35%;
  }
  .Title {
    font-size: 40px;
  }
  .title-div {
    margin-top: 31vh;
    margin-left: 5vw;
    position: absolute
  }
  .social-div {
    right: 32.5%;
    width: 35%;
  }

  .subTitle {
    font-size: 15px;
  }
  .home-btn-about {
    font-size: 15px;
  }
  .seta {
    margin-left: 10px;
    width: 15px;
  }
}

@media (max-width: 330px) {
  .Title {
    font-size: 30px;
  }
  .title-div {
    margin-top: 31vh;
    margin-left: 5vw;
    position: absolute
  }

  .subTitle {
    font-size: 12px;
  }
}

@media (max-width: 260px) {
  .Title {
    font-size: 25px;
  }

  .subTitle {
    font-size: 10px;
  }
}