.skills {
  height: 40rem;
  background-color: #615145;
}

.skills-title-div {
  position: absolute;
  margin-left: 70%;
  height: 550px;
  width: 20%;
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;
}

.skills-img {
  margin-bottom: 15px;
  border-radius: 29px;
  width: 250px;
  -webkit-filter: drop-shadow(0px 0px 20px rgba(0 0 0 / 90%)); 
  filter: drop-shadow(6px 6px 3px rgba(0 0 0 / 90%));
}

.skills-title {
  color: white;
  font-size: 75px;
  font-family: titleFont;
  -webkit-filter: drop-shadow(0px 0px 20px rgba(0 0 0 / 90%)); 
  filter: drop-shadow(0px 0px 10px rgba(0 0 0 / 90%));
}

.skills-content {
  position: absolute;
  border-radius: 0px 20px 20px 20px;
  height: 380px;
  width: 970px;
  margin-left: 135px;
  margin-top: 160px;
  background-color: #2f221e;
}

.skills-btns {
  z-index: 0;
  position: absolute;
  height: 80px;
  border-radius: 30px 110px 0px 0px;
  width: 250px;
  margin-left: 135px;
  margin-top: 80px;
  background-color: transparent;
}

.soft-btn {
  position: absolute;
  margin-left: 145px;
  height: 80px;
  background-color: #4e3832;
  font-family: myFont;
  font-size: 20px;
  color: white;
  border-radius: 20px 70px 0px 0px;
  width: 185px;
  -webkit-filter: drop-shadow(0px 0px 20px rgba(0 0 0 / 90%)); 
  filter: drop-shadow(-2px 4px 4px rgba(0 0 0 / 90%));
  transition: 0.4s ease-in-out;
}

.hard-btn {
  position: absolute;
  font-family: myFont;
  font-size: 20px;
  color: white;
  background-color: #4e3832;
  height: 80px;
  border-radius: 20px 30px 0px 0px;
  width: 175px;
  -webkit-filter: drop-shadow(0px 0px 20px rgba(0 0 0 / 90%)); 
  filter: drop-shadow(2px 4px 4px rgba(0 0 0 / 90%));
  transition: 0.4s ease-in-out;
}

.hard-btn:disabled {
  z-index: 1;
  background-color: #7c5950;
}

.soft-btn:disabled {
  z-index: 1;
  background-color: #7c5950;
}

.soft-btn:not([disabled]):hover {
  font-size: 25px;
  z-index: 2;
}

.hard-btn:not([disabled]):hover {
  font-size: 25px;
  z-index: 2;
}

.soft-div {
  margin-left: 23px;
  margin-top: 15px;
  width: 250px;
  height: 310px;
  padding: 20px;
}

.soft-skills-card {
  background-color: #998133;
  border-radius: 10px;
  width: 250px;
  height: 70px;
  margin-bottom: 46px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  transition: 0.2s ease-in-out;
}

.ski-sof-div {
  display: flex;
}

.soft-skills-img {
  max-width: 50px;
  max-height: 50px;
  margin-right: 15px;
}

.soft-skill-name {
  margin-left: 15px;
  font-family: regularFont;
  font-size: 20px;
  color: black;
}

.soft-skills-card:hover {
  transform: scale(1.05);
}

.hard-skills-card {
  background-color: #a79558;
  border-radius: 10px;
  width: 190px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  transition: 0.2s ease-in-out;
}

.hard-skills-card:hover {
  transform: scale(1.05);
}

.ski-har-div {
  display: flex;
}

.hard-div {
  border: transparent solid 1px;
  border-radius: 10px;
  margin: 10px 0px 0px 8.5px;
  width: 210px;
  height: 340px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.hard-skills-img {
  max-width: 35px;
  max-height: 35px;
  margin-right: 10px;
}

.hard-skill-name {
  font-family: javaFont;
  line-height: 18px;
  font-size: 23px;
  color: black;
  margin-left: 20px;
}

.soft-skills-card:hover {
  transform: scale(1.05);
}

@media (max-width: 1700px) {
  .skills-title-div {
    margin-left: 75%;
  }
}

@media (max-width: 1600px) {
  .skills-title-div {
    margin-left: 77%;
  }
}

@media (max-width: 1500px) {
  .skills-title-div {
    margin-left: 70%;
  }
  .skills-content {
    width: 800px;
    margin-left: 95px;
  }
  .skills-btns {
    margin-left: 95px;
  }
  .hard-div {
    width: 165px;
  }
  
  .hard-skill-name {
    font-size: 20px;
    align-items: center;
  }
  
  .hard-skills-card {
    width: 150px;
  }

  .soft-skill-name {
    font-size: 16px;
    align-items: center;
  }
  
  .soft-skills-card {
    width: 190px;
  }
}